body {
  background-color: rgb(255, 248, 219);
  color: #292F36;
}

#main {
  padding-bottom:10px;
}

#banner {
  text-align:center;
  margin-top:10px;
  background-color:#F7FFF7;
  border-radius:8px;
  color:rgb(0, 0, 0);

  box-shadow: inset 0 0 10px rgb(109, 109, 109);
}

.section-heading {
  border-style:hidden hidden solid hidden;
  border-width:2px;
}

label {
  font-size:18px;
}


.period {
  margin:2em auto;
  border-radius:8px;
  box-shadow:  inset 0 0 10px #292F36;
  background-color: rgba(78, 205, 197, 0.75);
}


#genres {
  margin-top:10px;
  border-radius:8px;
  margin-bottom:20px;
  box-shadow: inset 0 0 10px rgb(109, 109, 109);
  background-color: rgba(255, 107, 107, 0.75);
}

.check {
  transform:scale(2);
}

/* .early {
  background-color:rgb(214,127,127);
}

.baroque {
  background-color:rgb(230,190,119);
}

.classical {
  background-color:rgb(94,166,94);
}

.romantic {
  background-color:rgb(131,131,197);
}

.twentieth {
  background-color:rgb(203,203,203);
} */

#work-info {
  /* border-style:solid hidden hidden hidden; */
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgb(127, 127, 127);
  color:rgb(150, 121, 121);
  background-color: #F7FFF7;
}

.answer {
  font-weight:300;
}

.button {
  font-weight:800;
  margin-right:5px;
}

.answer span {
  font-style:oblique;
  font-weight:bold;
}

#frame-container {
  margin-top:10px;
  background-color:rgba(125,125,235,0);
}

#frame {
  width:100%;
  height:100%;
  min-height:52em;
  max-height:1000px;
}

